*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: darkblue;
}
.container{
    display: flex;
    width: 100%;
    max-width: 1080px;
    background: pink;
    border-radius: 16px;
    overflow:hidden;
    box-shadow: 0 6px 25px rgba(0,0,0,1);
}
.left{
    flex:1;
    background: linear-gradient(135deg,purple,grey);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
}
.left h1{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.left p{
    font-size: 1rem;
    max-width: 300px;
    line-height: 1.5;
    opacity: 0.9;
}
.right{
    flex: 1;
    padding: 3rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right h2{
    margin-bottom: 1.5rem;
    font-size:1.8rem;
    color: black;
}
.form-group{
    margin-bottom: 1.5rem;
}
.form-group label{
    display: block;
    margin-bottom: 0.4rem;
    font-size: 14px;
    color: green;
}
.form-group input{
    border: 2px solid grey;
    width: 100%;
    padding: 0.8rem;
    border-radius: 8px;
    font-size: 15px;
    transition: border-color 0.3s,border-shadow 0.3s;
}
.form-group input:focus{
    border-color: darkblue;
    box-shadow: 0 0 0 3px rgba(99,102,241,0.2);
    outline: none;
}
.btn{
    width: 100%;
    padding:0.9rem;
    border: none;
    border-radius:8px;
    background: darkblue;
    color: white;
    font-size:16px;
    cursor: pointer;
    transition: background 0.3;
}
.btn:hover{
    background: #4f46e5;
}
.extra-links{
    margin-top: 1rem;
    text-align: center;
    font-size: 14px;
}
.extra-links a{
    color: #4f46e5;
    text-decoration: none;
    margin: 0 5px;
}
.extra-links a:hover{
    text-decoration: underline;
}
@media(max-width:768px){
    .container{
        flex-direction: column;
        margin: 1rem;
    }
    .left{
        padding: 2rem 1rem;
    }
    .right{
        padding: 2rem 1.5rem;
    }
}
